<div data-hook="product_show" itemscope itemtype="http://schema.org/schwein">
  <h1>
    <%= @schwein.name %>
  </h1>

  <div class="p">
    <%= render :partial => 'schweine_properties' %>
  </div>

  <% @body_id = 'schwein-details' %>

  <div class="columns six alpha" data-hook="schwein_left_part">
    <div class="row" data-hook="schwein_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <div id="main-image" data-hook>
          <%= render :partial => 'spree/products/image', :object => @schwein.images.first %>
        </div>
        <div id="thumbnails" data-hook>
          <%= render :partial => 'thumbnails' %>
        </div>
      </div>

    </div>
  </div>

  <div class="columns ten omega" data-hook="schwein_right_part">
    <div class="row" data-hook="schwein_right_part_wrap">

      <div id="schwein-description" data-hook="schwein_description">

        <div itemprop="description" data-hook="description">
          <%= product_description(@schwein) rescue t(:schwein_has_no_description) %>
        </div>

      </div>

    </div>
  </div>

</div>

<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>

    <nav id="taxonomies" class="sidebar-item">
      <h6 class="taxonomy-root">Schweine</h6>
      <ul class="taxons-list"
        <%- Spree::Schwein.limit(1).order('created_at DESC').each do |schwein| %>
          <li><%=link_to schwein.name, schwein_path(schwein)%></li>
        <% end %>
      </ul>
    </nav>
  </div>
<% end %>
