<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form">

    <% if @product.has_variants? %>
      <div id="product-variants" class="columns four alpha">
        <h6 class="product-section-title"><%= t(:variants) %></h6>
        <ul>
          <% has_checked = false
          @product.variants.active(current_currency).each_with_index do |v,index|
            next if v.option_values.empty? || !v.in_stock
            checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
            has_checked = true if checked %>
            <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders], 'data-price' => v.price_in(current_currency).display_price %>
              <label for="<%= ['products', @product.id, v.id].join('_') %>">
                <span class="variant-description" itemprop="description">
                  <%= variant_options v %>
                </span>
                (<span class="price diff" itemprop="price" ><%= number_to_currency(v.price) %></span>)
                <meta itemprop="priceCurrency" content="EUR">
                <meta itemprop="availability" content="http://schema.org/LimitedAvailability">
              </label>
            </li>
          <% end%>
        </ul>
      </div>
    <% end%>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="columns four alpha">

        <div id="product-price">
          <h6 class="product-section-title"><%= t(:price) %></h6>
          <div><span class="price selling" itemprop="price"><%= display_price(@product) %></span></div>
        </div>

        <div class="add-to-cart">
          <% if @product.on_sale? or @product.on_demand? %>
            <%= number_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
              1, :class => 'title', :in => 1..Spree::Config[:max_quantity], :min => 1 %>
            <%= button_tag :class => 'primary', :id => 'add-to-cart-button', :type => :submit do %>
              <%= t(:add_to_cart) %>
            <% end %>
          <% else %>
            <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <%= content_tag(:meta, '', itemprop: 'price', content: number_with_precision(@product.price, precision: 2)) %>
              <meta itemprop="priceCurrency" content="EUR">
              <strong itemprop="availability" itemtype="http://schema.org/OutOfStock" >
                <%= t(:out_of_stock) %>
              </strong>
            </span>
          <% end %>
        </div>
      </div>
    <% else %>
        <div id="product-price">
          <br>
          <div><span class="price selling" itemprop="price"><%= t('product_not_available_in_this_currency') %></span></div>
        </div>
    <% end %>

  </div>
<% end %>
