<% content_for :page_title do %>
  Schafe
<% end %>

<% content_for :page_actions do %>
  <div class="toolbar" data-hook="toolbar">
    <ul class="actions header-action-links inline-menu">
      <li id="new_schaf_link">
        <%= button_link_to t(:new_schaf), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_rind' } %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :table_filter_title do %>
  <%= t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_schaf_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>

        <%- locals = {:f => f} %>

        <div data-hook="admin_schaf_index_search">
          <div class="alpha nine columns">
            <div class="field">
              <%= f.label :name_cont, t(:name) %>
              <%= f.text_field :name_cont, :size => 15 %>
            </div>
          </div>
          <div class="three columns omega">
            <div class="field checkbox">
              <label>
                <%= f.check_box :deleted_at_null, {:checked => params[:q][:deleted_at_null].blank?}, '', '1' %>
                <%= t(:show_deleted) %>
              </label>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="form-buttons actions filter-actions" data-hook="admin_schaf_index_search_buttons">
          <%= button t(:search), 'icon-search' %>
        </div>
    <% end %>
  </div>
<% end %>

<%= render 'spree/admin/shared/animal_sub_menu' %>

<div id="new_schaf" data-hook></div>

<% if @collection.any? %>
  <%= paginate @collection %>

  <table class="index sortable" id="listing_schafe" data-sortable-link="<%= update_positions_admin_rinder_url %>">
    <colgroup>
       <col style="width: 7%;">
       <col style="width: 35%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 17%;">
    </colgroup>
    <thead>
      <tr data-hook="option_row ">
        <th colspan="3"><%= sort_link @search,:name, t(:name), { :default_order => "desc" }, {:title => 'admin_rinder_listing_name_title'} %></th>
        <th><%= sort_link @search,:weight, t(:weight), {}, {:title => 'admin_rinder_weight_title'} %></th>
        <th><%= sort_link @search,:date_of_birth, t(:date_of_birth), {}, {:title => 'admin_rinder_date_of_birth_title'} %></th>
        <th><%= sort_link @search,:date_of_death, t(:date_of_death), {}, {:title => 'admin_rinder_date_of_death_title'} %></th>
        <th data-hook="admin_rinder_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |rind| %>
          <tr <%= "style='color: red;'" if rind.deleted? %> id="<%= spree_dom_id rind %>" data-hook="admin_rinder_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="no-border"><span class="handle"></span></td>
            <td class="align-center"><%= mini_image(rind) %></td>
            <td><%= link_to rind.try(:name), edit_admin_rind_path(rind) %></td>
            <td class="align-center"><%= rind.weight rescue '' %></td>
            <td class="align-center"><%= l(rind.date_of_birth) rescue '' %></td>
            <td class="align-center"><%= l(rind.date_of_death) rescue '' %></td>
            <td class="actions" data-hook="admin_rinder_index_row_actions">
              <%= link_to_edit rind, :no_text => true, :class => 'edit' unless rind.deleted? %>
              &nbsp;
              <%= link_to_clone rind, :no_text => true, :class => 'clone' %>
              &nbsp;
              <%= link_to_delete rind, :no_text => true unless rind.deleted? %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= t(:no_results) %>
  </div>
<% end %>

<%= paginate @collection %>

