<%= render 'spree/admin/shared/animal_sub_menu' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @schaf } %>

<%= form_for [:admin, @schaf], :html => { :multipart => true } do |f| %>

<fieldset data-hook="new_schaf">

  <legend align="center"><%= t(:new_schaf) %></legend>

  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= render :partial => 'spree/admin/shared/new_resource_links' %>

</fieldset>
<% end %>

<script type="text/javascript">
//<![CDATA[
  (function($){
    var base_url = "<%= admin_prototypes_url %>";
    var prototype_select = $('#schaf_prototype_id');
    prototype_select.change(function() {
      var id = prototype_select.val();
      if (id.length) {
        $('#schaf-from-prototype').load([ base_url, id ].join("/"));
      } else {
        $('#schaf-from-prototype').empty();
      }
    })
    if (prototype_select.html() == "") {
      prototype_select.change();
    }
  })(jQuery);
//]]>
</script>
