<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
  in_stock_products ||= products.select{|p| p.on_demand || p.on_hand > 0 }
  out_of_stock_products ||= products.select{|p| p.on_hand <= 0 }
%>
<% if products.empty? %>
  <h5>
    Wurst und Fleisch von diesem Tier sind leider schon ausverkauft.
  </h5>
  <p>Aber im <%= link_to 'Wurstüberblick', products_path %> findest Du andere Leckereien!</p>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if in_stock_products.any? %>
  <h3>Diese Produkte sind zur Zeit lieferbar.</h3>
  <ul id="products" class="inline product-listing row" data-hook>
    <% in_stock_products.each_with_index do |product, i| %>
      <% if product.on_display? %>
        <li id="product<%= product.id %>" class="columns four product <%= cycle("alpha row", "secondary", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
          <%= cache([product, "_product"]) do %>
            <div class="product-image">
              <%= link_to small_image(product, :itemprop => "image", :class => (product.on_demand? || product.on_hand > 0 ? 'in-stock' : 'out-of-stock' )), product, :itemprop => 'url' %>
            </div>
            <h4><%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %></h4>
            <span class="props"><%= product.container %></span>
            <span class="props" itemprop="weight"><%= number_to_weight(product.net_weight) %></span>
            <span class="props last"><%= product.price_in(current_currency).display_price %></span>
            <div class="clear"/>
            <p class="description" itemprop="description">
              <%- if product.on_hand > 0 && product.on_hand <= 5 %>
                <span style="color:#dd2222">
                  Nur noch <%= product.on_hand %> übrig!
                </span><br/>
              <% end %>
              <%= truncate_html(strip_tags(product.description), :length => 140).to_s.html_safe %></p>

            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'spree/products/index_cart_form', :locals => {:product => product} %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
<% end %>

<% if out_of_stock_products.any? %>
  <h3>Diese Produkte haben wir immer mal wieder im Angebot. Siehe Schlachtplan.</h3>
  <ul id="products" class="inline product-listing row" data-hook>
    <% out_of_stock_products.each_with_index do |product, i| %>
      <% if product.on_display? %>
        <li id="product<%= product.id %>" class="columns four product <%= cycle("alpha row", "secondary", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
          <%= cache([product, "_product"]) do %>
            <div class="product-image">
              <%= link_to small_image(product, :itemprop => "image", :class => (product.on_demand? || product.on_hand > 0 ? 'in-stock' : 'out-of-stock' )), product, :itemprop => 'url' %>
            </div>
            <h4><%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %></h4>
            <span class="props"><%= product.container %></span>
            <span class="props" itemprop="weight"><%= number_to_weight(product.net_weight) %></span>
            <span class="props last"><%= product.price_in(current_currency).display_price %></span>
            <div class="clear"/>
            <p class="description" itemprop="description">
              <%- if product.on_hand > 0 && product.on_hand <= 5 %>
                <span style="color:#dd2222">
                  Nur noch <%= product.on_hand %> übrig!
                </span><br/>
              <% end %>
              <%= truncate_html(strip_tags(product.description), :length => 140).to_s.html_safe %></p>

            <div id="cart-form" data-hook="cart_form">
              <%= render :partial => 'spree/products/index_cart_form', :locals => {:product => product} %>
            </div>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
