<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
<ul id="products" class="inline product-listing row" data-hook>
  <% products.each_with_index do |product, i| %>
    <% if product.on_display? %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha row", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="product-image">
          <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
        </div>
        <h4><%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %></h4>
        <span class="props">1 Glas</span>
        <span class="props" itemprop="weight"><%= number_with_precision(product.weight, :precision => 0) %>g</span>
        <span class="props last" itemprop="price"><%= product.price_in(current_currency).display_price %></span>
        <div class="clear"/>
        <p class="description"><%= truncate(strip_tags(product.description), :length => 140) %></p>

        <div id="cart-form" data-hook="cart_form">
          <%= render :partial => 'spree/products/index_cart_form', :locals => {:product => product} %>
        </div>
      </li>
    <% end %>
  <% end %>
  <% reset_cycle("classes") %>
</ul>
<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products %>
<% end %>
