- if current_page && current_page.has_context?('intro')
  .intro
    = render 'spree/shared/content', :content => current_page.for_context('intro').first

%div{ 'data-hook' => "homepage_products" }
  %ul#schweine.inline.product-listing.row
    = render :partial => 'rind', :collection => @collection

= paginate @collection

- content_for :sidebar do
  %div{'data-hook' => "homepage_sidebar_navigation"}
    = render :partial => 'spree/schweine/sidebar'
    = render :partial => 'spree/shared/taxonomies'
